{% extends 'main2.html' %}
{% load static %}
{% block content %}

    {% for Mobile in product %}
    <a href="{% url 'Electronic_Product_Details' Mobile.id %}">
        <div class="productItems">  
            <img src="{{Mobile.image_url}}" alt="">
            <div class="details">
                <div class="upper">
                    <div class="title">{{Mobile.title|truncatewords:10}}</div>
                    <div class="ratings">
                        <div class="box">
                            {{Mobile.rating_rate}} <img src="{% static 'media/star-solid.svg' %}" alt="">
                        </div>
                        <div class="spa">{{Mobile.rating_count}} Rating &</div>
                        <div class="spa">{{Mobile.rating_review}} Review</div>
                    </div>
                </div>
                <div class="lower">
                    <ul type="none">
                        <li>{{Mobile.highlight_1 |truncatewords:15}}</li>
                        <li>{{Mobile.highlight_2 }}</li>
                        <li>{{Mobile.highlight_3}}</li>
                        <li>{{Mobile.highlight_4}}</li>
                        <li>{{Mobile.highlight_5}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock content%}