<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load static%}

    <link rel="stylesheet" href="{% static 'css\Cart.css'%}">
    <link rel="stylesheet" href="{% static 'css\style.css'%}">

</head>
<body>

    {% include 'navBar.html' %}

    <div class="Cart_home_page">
        {% if request.user.is_authenticated %}

        <div class="address">
            <p class="sp">Shipping Address:</p>
            <p class="ad">{{address.uname}}<br>{{address.address}} {{address.city}}<br>{{address.state}}-{{address.pincode}} </p>
       </div>

        <div class="cart-items-list">

            <div class="items">
            {% for i in cart_items %}
                <div class="single-itm"> 
                    <aside>
                        <img src="{{i.image_url}}" alt="">
                    </aside>   
                    <article>
                        <p class="title">{{i.title}} </p>
                        <p class="price">₹ {{i.price}}</p>
                        <p class="quantity">Quantity :{{i.quantity}} </p>
                        <a class="rmv" href="{% url 'remove_cart_itm' i.id %}">Remove from cart</a>
                    </article>                
                </div>
                <hr>
            {% endfor %}

                <div class="order_place">
                    <a href="{% url 'place_order_f_cart' %}">Place Order</a>
                </div>


            </div>

           

            <div class="amount">
                <div class="price-Detail">PRICE DETAILS</div> <hr>
                <div class="Detail">
                    <div class="text-data">
                        <div>Price ({{price_details.count}} items)</div>
                        <div>₹ {{price_details.item_amount}}</div>
                    </div>
                    <div class="text-data">
                        <div>Discount</div>
                        <div>₹ {{price_details.discount}}</div>

                    </div>
                    <div class="text-data">
                        <div>Platform Fee</div>
                        <div>₹ {{price_details.Platform_fees}}</div>
                    </div>
                    <div class="text-data">
                        <div>Delivery Charges</div>
                        <div>₹ {{price_details.delivery_charges}}</div>
                    </div>
                </div>
                <hr>
                <div class="Total-Aount">
                    <div>Total Amount</div>
                    <div>₹ {{total_amount}}</div>
                </div>

            </div>

            
            
        </div>


        {% else %}

        <div class="cart-items">
            <article>Missing Cart itmes ?</article>
            <article>Login to see the items you added previously</article>
            <a href="{% url 'login' %}">Login</a>
        </div>
        
        {% endif %}
    </div>

    <div>
        {{msg}}
    </div>
    {% include 'footer.html' %}
    
</body>
</html>
