{% extends 'main3.html' %}
{% load static %}

{% block locat %}

    <div class="Profile">
        <div class="left-bar">
            <div class="left-bar-up">
                <div class="profile-image">

                    {% if data.image %}
                        <img src="{{data.image.url}}" alt=""> 
                        <a href="{% url 'add_profile_img' %}">
                            <b>+</b></a>
                    {% else %}
                        <img src="{% static 'media/profile.png'%}" alt=""> 
                        <a href="{% url 'add_profile_img' %}"><b>+</b></a>
                    {% endif %}
                </div>
                <div class="great-detail">
                    <div class="msg">Hello,</div>
                    <div class="name">{{request.user.first_name}} {{request.user.last_name}}</div>
                </div>
            </div>
            <div class="left-bar-down">
                <a class="boxes My-order" id="my-order-link" href="{% url 'my_orders_list' %}"> <p> MY ORDERS </p><img class="img_sh" src="{% static 'media/angle-right-solid.svg' %}" alt=""> </a>
                <a class="boxes" id="profile-info-link" href="{% url 'profile_info' %}"><p> Profile Informations  </p><img src="{% static 'media/angle-right-solid.svg' %}" alt=""></a>
                <a class="boxes" id="manage-add-link" href="{% url 'manage_add' %}"> <p> Manage Addresses  </p><img src="{% static 'media/angle-right-solid.svg' %}" alt=""> </a>
                <a class="boxes Payments" id="payments-link" href="{% url 'payment' %}"> <p> PAYMENTS </p><img src="{% static 'media/angle-right-solid.svg' %}" alt=""></a>
                <a class="boxes LogOut" id="logout-link" href="{% url 'logout' %}"> <p>LOGOUT</p><img src="{% static 'media/angle-right-solid.svg' %}" alt=""></a>
            </div>
        </div>
        
    </div>


{% endblock locat %}
