
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EZcart</title>
        <link rel="stylesheet" href="{% static 'css\style.css'%}">

    <link rel="stylesheet" href="{% static 'css\LogIn_home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css\manage_add.css' %}">

    
    <link rel="stylesheet" href="{% static 'css\my_order.css' %}">
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <link rel="stylesheet" href="{% static 'wrong.css' %}">
    
    
</head>
<body>

    {% include 'navBar.html' %}

    {% block locat %}
    
    {% endblock locat %}

    {% include 'footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>