<div class="category">
{% load static %}    
<ul>

    <!-- <li>
        <a href="{% url 'Offers' %}">
            <div class="itembox" >
                <div class="items_image"><img src="{% static 'media/offers.png' %}" alt=""></div>
                <p class="item_name"><span>Special Offers</span></p>
            </div>
        </a>
    </li> -->

    <li>
        <a href="{% url 'home' %}">
            <div class="itembox" >
                <div class="items_image"><img src="{% static 'media/mobile.webp' %}" alt=""></div>
                <p class="item_name"><span>Mobiles & Tablets</span></p>
            </div>
        </a>
        <div class="popup">
            <a href="{% url 'AppleProducts' %}">Apple</a>
            <a href="{% url 'SamsungProducts' %}">Samsung</a>
            <a href="{% url 'RealmeProducts' %}">Realme</a>
            <a href="{% url 'PocoProducts' %}">Poco</a>
            <a href="{% url 'OnePlusProducts' %}">OnePlus</a>
        </div>
    </li>

    <li>
        <a href="{% url 'home' %}">
            <div class="itembox" >
                <div class="items_image"><img src="{% static 'media/electronics.webp' %}" alt=""></div>
                <p class="item_name"><span>Electronics</span></p>
            </div>
        </a>
        <div class="popup">
            <a href="{% url 'Cameras_Accessories' %}">Cameras & Accessories</a>
            <a href="{% url 'laptop_desktop' %}">Laptop and Desktop</a>
            <a href="{% url 'HeadPhones' %}">Headphones</a>
            <a href="{% url 'Mobile_Accessories' %}">Mobile Accessories</a>
            <a href="{% url 'PowerBank' %}">Powerbank</a>
        </div>
    </li>

    <li>
        <a href="{% url 'home' %}">
            <div class="itembox" >
                <div class="items_image"><img src="{% static 'media/fashion.png' %}" alt="">
                </div>
                <p class="item_name"><span>Fashion</span></p>
            </div>
        </a>
        <div class="popup">
            <a href="{% url 'Mens_Top_Wear' %}">Men's Top Wear</a>
            <a href="{% url 'Mens_Bottom_Wear' %}">Men's Bottom Wear</a>
            <a href="{% url 'Women_Ethnic' %}">Women Ethnic</a>
            <a href="{% url 'Men_Footwear' %}">Men Footwear</a>
            <a href="{% url 'Women_Footwear' %}">Women Footwear</a>
            <a href="{% url 'kids' %}">Kids</a>
        </div>
    </li>

    <li>
        <a href="">
            <div class="itembox" >
                <div class="items_image"> <img src="{% static 'media/tv.webp' %}" alt=""></div>
                <p class="item_name"><span>TVs & Appliances</span><p> 
            </div>
        </a>
        <div class="popup">
            <a href="{% url 'Televisions' %}">Televisions</a>
            <a href="{% url 'Washing_machine' %}">Washing Machine</a>
            <a href="{% url 'Air_conditioners' %}">Air Conditioners</a>
            <a href="{% url 'Refrigerators' %}">Refrigerators</a>
        </div>
    </li>

</ul> 

</div>